.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
body, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;     
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 70px; /* Adjust based on header height */
}